<form href="/aboutus/TellMeYourFullName" method="post">
    <label>First Name:</label>
    <input type="text" name="firstName" />
    <label>First Name:</label>
    <input type="text" name="lastName" />
    <input type="submit" value="Check FullName"/>
    <div>
        <h1>I get the result by using http post verb @ViewBag.Result</h1>
    </div>
</form>