@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightcyan">
    <div class="text-center">
        <h1 class="display-4">Welcome to Student Management System</h1>
    </div>

</body>
