<h1>Bus Line Detail Report</h1>
@if (TempData["info"] != null)
{
    <div class="alert alert-warning">
        <span>@TempData["info"]</span>
</div>
}
<form class="form-inline" action="/report/BusLineDetailReport" method="post">
    <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Bus Line No</label>
        <input type="text"   name="BusLineNo">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Type </label>
      <select name="Type">
          <option value="VIP">VIP Class </option>
            <option value="Normal">Normal Class </option>
      </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Owner  </label>
        <input type="text" class="form-control" placeholder="Ower Name" name="Owner">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Show</button>
</form>