html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.AboutSeat:hover {
    background-color: gray;
}

.selectedSeat {
    background-color: green;
}

.seatHover {
    cursor: pointer;
    user-select: none;
}

.seatPlan {
    background-color: lightgray;
    user-select: none;
    font-family: Arial;
}

.mydanger {
    background-color: red;
}

.ticketBg {
    background-color: royalblue;
}