@{
    ViewData["Title"] = "PaymentType Entry";
}

<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3 class="mx-auto">Entry BusLine</h3>
    <form action="/paymentType/entry" method="post">
        <div class="mb-3">
            <label class="form-label">PaymentType</label>
            <input type="text" class="form-control" name="PaymentType">

        </div>
        <div class="mb-3">
            <label class="form-label">AccountName</label>
            <input type="text" class="form-control" name="AccountName">

        </div>
        <div class="mb-3">
            <label class="form-label">AccountNumber</label>
            <input type="number" class="form-control" name="AccountNumber">

        </div>

        

        <input type="submit" class="btn btn-primary" value="Entry">
        <input type="reset" class="btn btn-secondary" value="Cancel">
    </form>
</body>



