@{
    ViewData["Title"] = "BusLine Entry";
}
<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3 class="mx-auto">Entry BusLine</h3>
    <form action="/BusLine/entry" method="post">
        <div class="mb-3">
            <label class="form-label">LicenseNo</label>
            <input type="text" class="form-control" name="No">

        </div>
        <div class="mb-3">
            <label class="form-label">Owner</label>
            <input type="text" class="form-control" name="Owner">

        </div>
        <div class="mb-3">
            <label class="form-label">Driver1</label>
            <input type="text" class="form-control" name="Driver1">

        </div>
        <div class="mb-3">
            <label class="form-label">Driver1 Phone</label>
            <input type="text" class="form-control" name="PhoneOfDriver1">

        </div>
        <div class="mb-3">
            <label class="form-label">Driver2</label>
            <input type="text" class="form-control" name="Driver2">

        </div>
        <div class="mb-3">
            <label class="form-label">Driver2 Phone</label>
            <input type="text" class="form-control" name="PhoneOfDriver2">

        </div>
        <div class="mb-3">
            <label class="form-label">Helper1</label>
            <input type="text" class="form-control" name="Helper1">

        </div>
        <div class="mb-3">
            <label class="form-label">Helper1 Phone</label>
            <input type="text" class="form-control" name="PhoneOfHelper1">

        </div>
        <div class="mb-3">
            <label class="form-label">Helper2</label>
            <input type="text" class="form-control" name="Helper2">

        </div>
        <div class="mb-3">
            <label class="form-label">Helper2 Phone</label>
            <input type="text" class="form-control" name="PhoneOfHelper2">

        </div>
        <div class="mb-3">
            <label class="form-label">Number Of Seat</label>
            <input type="number" class="form-control" name="NumberOfSeats">

        </div>
        <div class="mb-3">
            <label class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example" name="Type">
                <option selected value="NORMAL">NORMAL</option>
                <option value="VIP">VIP</option>

            </select>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Terms And Conditions</label>
        </div>
        
        
        <input type="submit" class="btn btn-primary" value="Entry">
        <input type="reset" class="btn btn-secondary" value="Cancel">
    </form>
</body>


